* {
    box-sizing: border-box;
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
    background: whitesmoke;
    width: 1000px;
    font-size: 16px;
    margin: 0 auto;
}

.containerB {
    width: 50%;
}

.container {
    float: left;
    margin-left: 8px;
    clear: both;
}

#crystalC {
    float: left;
    margin-top: 8px;
    margin-left: 8px;
    padding: 10px;
    background-color: rgb(210, 102, 32);
    overflow: hidden;
}

#crystalHeader {
    color: white;
    font-size: 30px;
    padding: 3px;
}

ul {
    margin-top: 10px;
    color: aquamarine;
    background-color: goldenrod;
    padding: 10px 8px 50px 8px;
}

.rules {
    list-style-type: none;
    line-height: 1.6;
    margin-bottom: 5px;
    padding-bottom: 8px;
}

section {
    float: left;
    margin-left: 8px;
    clear: both;
    overflow: hidden;
    width: 75%;
    
}

#compNum {
    background-color: rgb(10, 221, 63);
    color: rgb(77, 7, 50);
    width: 246px;
    height: 100px;
    text-align: initial;
    float: left;
}

h2 {
    margin-top: 0;
}

#Ws_Ls {
    background-color: aqua;
    float: left;
    height: 100px;
    margin-left: 10px;
}

#wins,
#losses {
    color: rgb(63, 63, 63);
    text-align: center;
    padding: 0 20px 3px 3px;
}

.wrapper {
    float: left;
    margin-left: 8px;
    clear: both;
}

.btn1 {
    background: transparent;
    background-image: url("assets/images/Saph.png");
    background-position: center;
    width: 84px;
    height: 87px;
    display: inline-block;
}

.btn2 {
    background: transparent;
    background-image: url("assets/images/Ruby.png");
    background-position: center;
    width: 84px;
    height: 78px;
    display: inline-block;
}

.btn3 {
    background: transparent;
    background-image: url("assets/images/Emer.png");
    background-position: center;
    width: 84px;
    height: 88px;
    display: inline-block;
}

.btn4 {
    background: transparent;
    background-image: url("assets/images/Diam.png");
    background-position: center;
    width: 84px;
    height: 67px;
    display: inline-block;
}

button {
    border: 0;
}

#yourTotal {
    float: left;
    clear: both;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 4px 0 4px 4px;
    width:246px;
    background-color: teal;
    color: white;
}

#score {
    float: left;
    clear: both;
    margin-left: 8px;
    width: 246px;
    height: 100px;
    background-color: teal;
    color: white;  
}